<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div>
    <h1>Teachers Cards</h1>
    <div th:each="el: ${teachers}" class ="alert alert-info mt-2">
        <h3 th:text="${el.firstName}"></h3>
        <p th:text="${el.secondName}"></p>
        <a th:href=" '/teacher-card/' + ${el.id}">More</a>
    </div>
</div>

</body>
</html>