<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Карточка ученика</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header::header"></header>
<div class= "container mt-5">
    <h1>Карточка ученика</h1>
</div>
<body>

<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Form for adding a student card</h2>
            <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Student information</h4>
                <form class="needs-validation was-validated" novalidate="">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Surname</label>
                            <input type="text" class="form-control" id="address" placeholder="" required="">
                            <div class="invalid-feedback">
                                Please enter surname.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="number" class="form-label">Phone number</label>
                            <input type="tel" class="form-control" id="number" placeholder="+7(9XX)-XXX-XX-XX" required="">
                            <div class="invalid-feedback">
                                Please enter a valid phone number.
                            </div>
                        </div>


                        <div class="col-md-5">
                            <label for="country" class="form-label">Course</label>
                            <select class="form-select" id="country" required="">
                                <option value="">Choose...</option>
                                <option>Python</option>
                                <option>Blender</option>
                                <option>Tilda</option>
                                <option>Roblox Studio</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid course.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="dayoftheweek" class="form-label">Day of the week</label>
                            <select class="form-select" id="dayoftheweek" required="">
                                <option value="">Choose...</option>
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Friday</option>
                                <option>Saturday</option>
                                <option>Sunday</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid day.
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="classtime" class="form-label">Class time</label>
                            <select class="form-select" id="classtime" required="">
                                <option value="">Choose...</option>
                                <option>14:00</option>
                                <option>15:15</option>
                                <option>16:30</option>
                                <option>17:45</option>
                                <option>19:00</option>
                                <option>20:15</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid time.
                            </div>
                    </div>

                    <h4 class="mb-3">Client Information</h4>
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstNameClient" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastNameClient" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Surname</label>
                            <input type="text" class="form-control" id="surnameClient" placeholder="" required="">
                            <div class="invalid-feedback">
                                Please enter surname.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="number" class="form-label">Phone number</label>
                            <input type="tel" class="form-control" id="numberClient" placeholder="+7(9XX)-XXX-XX-XX" required="">
                            <div class="invalid-feedback">
                                Please enter a valid phone number.
                            </div>
                        </div>

                            <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Confirm Student</button>
                </form>
            </div>
        </div>
    </main>

</div>

<footer th:insert="blocks/footer::footer"><footer>

<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<script src="form-validation.js"></script>


</body>
</body>
</html>