<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div>
    <h1>Teacher Card</h1>
    <div th:each="el : ${teacher}" class ="alert alert-info mt-2">
        <h1 th:text="${el.firstName}"></h1>
        <h1 th:text="${el.secondName}"></h1>
        <h1 th:text="${el.surName}"></h1>
        <h4 th:text="${el.phoneNumber}"></h4>
        <a class="btn btn-primary" th:href=" '/teacher-card/' + ${el.id} + '/edit'">Edit</a>
        <form th:action=" '/teacher-card/' + ${el.id} + '/remove'" method="post">
            <button class="btn btn-primary" type="submit">Delete</button>
        </form>
    </div>
</div>

</body>
</html>